<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="base.css">
</head>
<style>
    p {
        margin-bottom: 40px;
        color: #333;
    }
</style>
<body>
    <p class="font36">font36 国庆和中秋都在一起了，你却还单身</p>
    <p class="font34">font34 国庆和中秋都在一起了，你却还单身</p>
    <p class="font32">font32 国庆和中秋都在一起了，你却还单身</p>
    <p class="font30">font30 国庆和中秋都在一起了，你却还单身</p>
    <p class="font28">font28 国庆和中秋都在一起了，你却还单身</p>
    <p class="font26">font26 国庆和中秋都在一起了，你却还单身</p>
    <p class="font24">font24 国庆和中秋都在一起了，你却还单身</p>
    <p class="font22">font22 国庆和中秋都在一起了，你却还单身</p>
    <p class="font18">font18 国庆和中秋都在一起了，你却还单身</p>
    <p class="font16">font16 国庆和中秋都在一起了，你却还单身</p>
    <p class="font14">font14 国庆和中秋都在一起了，你却还单身</p>
</body>
</html>