/* 重置密码 */
.resetpass_bg{
    background:url(../images/forget_bg01.jpg) left center no-repeat;
    background-size:100% 100%;
    height:170px;
}
.reset_con{
    margin-top:-95px;
    margin-bottom:40px;
}
.reset_con .container{
    background-color: #fff;
	box-shadow: 0px 12px 28px 2px rgba(183, 205, 219, 0.3);
    border-radius: 10px;
    position: relative;
    padding:50px;
    box-sizing: border-box;
}
.reset_p1{
    text-align:center;
    font-size:26px;
    color:#333;
    font-weight:bold;
}
.reset_p2{
    width: 32px;
	height: 4px;
	background-color: #666;
    border-radius: 2px;
    margin:15px auto;
}
.reset_con_div1{
    width:33%;
    margin:42px auto 0;
}
.reset_list_p1{
    font-size:16px;
    color:#333;
    margin-bottom:8px;
}
.reset_input{
    width: 100%;
	height: 48px;
	background-color: #ffffff;
	border-radius: 4px;
    border: solid 1px #dedede;
    padding:8px;
    box-sizing:border-box;
}
.reset_input.error{
    border:1px solid #ef3345;
}
.reset_tips{
    margin-top:15px;
    font-size:16px;
    color:#787878;
}
.reset_div1{
    margin-top:50px;
}
.reset_submit{
    width:100%;
    height:56px;
    line-height:56px;
    border:0;
    background-image: linear-gradient(-62deg, 
		#0099ff 0%, 
		#10c0ee 100%), 
	linear-gradient(
		#0099ff, 
		#0099ff);
	box-shadow: 0px 2px 9px 1px 
		rgba(0, 153, 255, 0.25);
    border-radius: 28px;
    font-size:20px;
    color:#fff;
    font-weight:bold;
    text-align:center;
    display:block;
    
    cursor: pointer;
}
.reset_submit:hover{
    background:none;
    background-color:#fff;
    color:#0099ff;
}
.reset_tips a{
    text-decoration:underline;
    color:#333;
}
.reset_tips a:hover{
    color:#0099ff;
}
.reset_list li{
    margin-bottom:30px;
}
.reset_list li:last-child{
    margin-bottom:0;
}

@media(min-width:200px) and (max-width:768px){
    .reset_con{padding:0 15px;margin-bottom:20px;}
    .resetpass_bg{height:125px;}
    .reset_con .container{padding:15px;box-sizing: border-box;width:100%;}
    .reset_con_div1{width:100%;margin-top:15px;}
    .reset_p1{font-size:22px;}
    .reset_p2{margin:10px auto;}
    .reset_input{height:35px;}
    .reset_submit{margin-top:25px;height:45px;line-height:45px;font-size:18px;}
    .reset_tips{font-size:14px;}
    .reset_list li{margin-bottom:20px;}
}
    
@media(min-width:768px) and (max-width:991px){
    .reset_con_div1{width:55%;}
}
@media(min-width:992px) and (max-width:1199px){
    .reset_con_div1{width:40%;}
}
