body {
    padding: 0;
    margin: 0;
}

.swiper_box {
    width: 500px;
    margin: 0 auto;
}

.view .swiper-container {
    width: 500px;
    height: 500px;
}


.preview {
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.preview .swiper-container {
    width: 430px;
    height: 82px;
    margin-left: 35px;
}

.preview .swiper-slide {
    width: 87px;
    height: 82px;
}

.preview .slide6 {
    width: 82px;
}
/* 选中样式 */
.preview img {
    padding: 1px;
}

.preview .active-nav img {
    padding: 0;
    border: 1px solid #F00;
}

/* 按钮 */
.swiper_box button {
    outline: none;
    border: none;
    cursor: pointer;
}
.view .btn_prev_s {
    background: url(../images/btn_prev.png) no-repeat center;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);
    width: 28px;
    height: 51px;
    z-index: 10;
    background-color: #121212;
    opacity: 0.4;
}

.view .btn_next_s{
    background: url(../images/btn_next.png) no-repeat center;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
    width: 28px;
    height: 51px;
    z-index: 10;
    background-color: #121212;
    opacity: 0.4;
}
.preview .btn_prev_s {
    background: url(../images/btn_prev.png) no-repeat center;
    position: absolute;
    left: 0px;
    width: 20px;
    height: 82px;
    z-index: 10;
    background-color: #121212;
    opacity: 0.4;
}

.preview .btn_next_s {
    background: url(../images/btn_next.png) no-repeat center;
    position: absolute;
    right: 0px;
    width: 20px;
    height: 82px;
    z-index: 10;
    background-color: #121212;
    opacity: 0.4;
}

.btn_next:hover,.btn_prev:hover{
    background-color: #121212;
    opacity: 0.8;
}


